@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


@theme{
    
    --breakpoint-phone:350px;
    --breakpoint-sm: 568px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 996px;
    --breakpoint-xl: 1200px;
    --breakpoint-2xl: 1440px;

}

*{
  font-family: "Outfit", sans-serif;
  /* font-family: 'San Francisco', Helvetica, Arial, san-serif; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #151312 !important;
  transition: background-color 5000s ease-in-out 0s;
}

:root {

    /* ===== BRAND ===== */
    --primary: #6366f1;
    --primary-hover: #4f46e5;
  
    --secondary: #2563eb;
    --secondary-hover: #1d4ed8;
  
    --accent: #f97316;
    --accent-hover: #ea580c;
  
    /* ===== BACKGROUND ===== */
    --bg-main: #ffffff;
    --bg-soft: #f9fafb;
    --bg-card: #ffffff;
    --bg-hover: #f3f4f6;
  
    /* ===== TEXT ===== */
    --text-main: #111827;
    --text-muted: #6b7280;
    --text-light: #9ca3af;
    --text-white: #ffffff;
  
    /* ===== BORDERS ===== */
    --border: #e5e7eb;
    --border-strong: #d1d5db;
  
    /* ===== STATUS ===== */
    --success: #16a34a;
    --warning: #f59e0b;
    --danger: #dc2626;
  
    /* ===== EXTRA ===== */
    --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.05);
    --shadow-hover: 0 8px 20px rgba(0, 0, 0, 0.08);
    --shadow-big:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --shadow-right:8px 4px 13px 0px rgba(0, 0, 0, 0.2);
    --radius: 12px;
  }

  ::-webkit-scrollbar{
    display: none;
  }

  .scrollbar-visible::-webkit-scrollbar {
    width: 5px;
    display: block;
  }
  
  .scrollbar-visible::-webkit-scrollbar-thumb {
    background: #cbd5f5;
    border-radius: 20px;
  }
  
  .scrollbar-visible::-webkit-scrollbar-thumb:hover {
    background: #a5b4fc;
  }